@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    margin: 0px 30px 0px 30px
}

/* cover image */
#cover_image {
    background: blue;
    border: solid 2px black;
    height: 245px;
    width: 77%;
    margin: 27px 0 -25px 0px;
    position: absolute;
    top: -3px;
    left: 310px;
}

/* profile pic left side */
#profile {
    background: red;
    height: 235px;
    width: 235px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 51px;
}

/* name */
#name {
    background: yellow;
    position: absolute;
    top: 238px;
    margin: 40px 0px 0px 30px;
}

/* contact box */
#p_list {
    list-style-type: none;
    background: yellow;
    border: solid 2px black;
    position: absolute;
    top: 150px;
    bottom: 0;
    height: 397px;
    width: 18%;
    margin-top: 170px;
}

/* contact content */
.p_list {
    padding: 2px 2px 2px 10px
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    position: relative;
    top: 273px;
    left: 280px;
    width: fit-content;
}
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    margin-inline: 28.5px;
    background-color: inherit;
    float: left;
    border: solid 2px black;
    outline: none;
    cursor: pointer;
    padding: 14px 88px;
    transition: 0.3s;
}
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
}
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    width: fit-content;
    padding: 50px 40px;
    border: 1px solid #ccc;
    position: relative;
    top: 273px;
    left: 280px;
    animation: fadeEffect 2s; /* Fading effect takes 1 second */
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
}
  
/* social network box */
.social_networks {
    text-align: center;
    padding: 6px;
    background-size: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    
.social_networks > li {
    display: inline; 
}
/* social network icons */
.social_networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}
/* ----------------------------------------------Keyframes */
/* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}