@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    margin: 0px 30px 0px 30px;
    background-color: black;
}

h2 {
    text-align: center;
    padding-bottom: 45px;
    font-size: 50px;
    margin: -25px 90px 0 75px;
}

#skill_h {
    margin: 0px 135px 0px 0px;
}

h3 {
    padding: 35px 0 10px 0;
}

span {
    font-weight: bold;
}

.skll_a {
    float: left;
    margin: -50px 16% 0px 14%;
    padding: 18px 70px 40px 80px;
    border-radius: 50%;
    border: solid 4px black;
    box-shadow: 5px 10px 10px grey;
    position: absolute;
    left: -25px;
    background-color: #000;
    color: white;
}

.skll_b {
    float: right;
    margin: -50px 16% 0px 14%;
    padding: 18px 70px 40px 80px;
    border-radius: 50%;
    border: solid 4px black;
    box-shadow: 5px 10px 10px grey;
    position: absolute;
    left: 500px;
    background-color: #000;
    color: white;
}

#space {
    padding: 100px;
}

#space_p {
    padding: 200px;
}

#linkedin {
    font-weight: bolder;
    color: black;
    border: solid white 1px;
    background-color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

#linkedin:hover {
    font-size: 20px;
}

.port_link {
    font-weight: bolder;
    color: white;
    border: solid white 2px;
    background-color: black;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 50%;
}

.port_link:hover {
    color: white;
    background-image: radial-gradient(circle, rgb(2, 2, 2)20%, rgb(255, 255, 255));
}

#pla {
    position: absolute;
    top: 145px;
    left: 15%;
    padding: 25px;
    padding-inline: 30%;

}

#plb {
    position: absolute;
    top: 315px;
    left: 15%;
    padding: 25px;
    padding-inline: 21%;

}

#plc {
    position: absolute;
    top: 400px;
    left: 15%;
    padding: 25px;
    padding-inline: 29%;

}

#pld {
    position: absolute;
    top: 230px;
    left: 15%;
    padding: 25px;
    padding-inline: 20%;

}

.cert {
    height: 210px;
    width: 315px;
    padding-inline: 20px;
}

/* arrows */
#arrow_one {
    position: absolute;
    top: 352px;
    left: 29%;
    color: white;
    animation: fade 2s infinite;
}

#arrow_two {
    position: absolute;
    top: 352px;
    left: 47%;
    color: white;
    animation: fade 2s infinite;
}

#arrow_three {
    position: absolute;
    top: 352px;
    left: 68%;
    color: white;
    animation: fade 2s infinite;
}

#arrow_four {
    position: absolute;
    top: 352px;
    left: 85%;
    color: white;
    animation: fade 2s infinite;
}

/* cover image */
#cover_image {
    height: 247px;
    width: 990px;
    margin: 27px 0 -25px 0px;
    position: absolute;
    top: -3px;
    left: 399px;
}

/* profile pic left side */
#profile {
    height: 235px;
    width: 235px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 47px;
    border: solid 10px white;
}

/* name */
#name {
    position: absolute;
    top: 238px;
    margin: 40px 0px 0px 30px;
    color: white;
    font-size: 35px;
}

/* contact box */
#p_list {
    list-style-type: none;
    border: solid 2px white;
    position: absolute;
    top: 150px;
    bottom: 45px;
    width: 277px;
    margin-top: 170px;
    color: white;
    background-color: rgb(255 255 255 / 18%);
}

/* contact content */
.p_list {
    padding: 2px 2px 2px 10px
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-image: radial-gradient(circle, rgb(255, 255, 255)58%, rgba(255, 255, 255, 0.116));
    position: relative;
    top: 272px;
    left: 282px;
    width: 80%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    margin-inline: 28.5px;
    background-color: inherit;
    position: inherit;
    left: 33px;
    outline: none;
    margin: 6px 25px 8px 25px;
    padding-inline: 53px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 25px;
    font-weight: 900;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    text-decoration: underline;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    text-decoration: underline;
    transform: scale(1.3);
}

/* Style the tab content */
.tabcontent {
    display: none;
    width: 74.6%;
    height: fit-content;
    padding: 87px 0 275px 80px;
    background-color: white;
    position: relative;
    top: 273px;
    left: 283px;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
}

/* social network box */
.social_networks {
    text-align: center;
    padding: 6px;
    background-size: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social_networks>li {
    display: inline;
}

/* social network icons */
.social_networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}

/* ----------------------------------------------Keyframes */


@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    25% {
        opacity: 1;
        transform: scale(2);
    }

    50% {
        opacity: 0;
        transform: scale(1);
    }

    75% {
        opacity: 1;
        transform: scale(2);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/* Responsive Design */

@media screen and (max-width: 1200px) {
    * {
        height: fit-content;
        position: static;
        left: 0;

    }

    #space {
        padding: 0;
    }

    body {
        width: 100%;
        margin: 0;

    }

    #cover_image {
        display: none;

    }

    a#linkedin {
        width: fit-content;
    }

    #p_list {
        width: 80%;
        margin-bottom: -30px;
        left: 10%;
        top: 10em;
    }

    #profile {
        left: 15%;
        top: 0px;
        box-shadow: 0px 9px 5px 5px #ffffff2b;

    }

    #name {
        left: 20%;
        width: 80%;
        position: relative;
        margin: 25px 0 0 0;

    }

    #arrow_one,
    #arrow_two,
    #arrow_three,
    #arrow_four {
        display: none;
    }

    .tab {
        width: 85%;
        top: 37em;
        left: 0;
        background-image: none;
        border: none;
        text-align: -webkit-center;
        padding-bottom: 3em;

    }

    .tab button {
        text-align: center;
        margin: 20px 0 20px 0;
        border: solid;
        background-color: white;
        padding: 10px 70px 10px 70px
    }

    .tabcontent {
        width: 100%;
        left: 0px;
        top: 45em;
        height: fit-content;
        padding: 0 0 25em 0;

    }

    .skll_a {
        margin: 0;
        left: 1em;
    }

    .skll_b {
        left: 0em;
        top: 20em;
        margin: 0;
        position: relative;
        float: none;

    }

    h2 {
        margin: 0;

    }

    h2#skill_h {
        margin: 0 40px 0px 0;

    }

    ul {
        padding: 0px 10px 0 10px;

    }

    p {
        padding: 0 10px;
    }

    h3 {
        text-align: center;
        text-decoration: underline;
    }

    a#pld {
        top: 18em;
    }

    a#plc {
        top: 28em;
    }

    a#plb {
        top: 38em;
    }

    a#pla,
    a#plb,
    a#plc,
    a#pld {
        left: 0em;
        text-align: center;
        padding-inline: 6em;
    }

}